/* reset */
* {
    box-sizing: border-box;
}

/* utilities */
.flex {
    display: flex;
}

.fl-cntr {
    justify-content: center;
    align-items: center;
}

/* styling */
body {
    margin: 0;
    background-color: #0b2434;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div#root {
    height: 100%;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
}

main.container {
    background-color: #f5f5f5;
    height: 100%;
    border-radius: 0.4rem;
}
